.card {
  margin: 0;
  padding: 0 0;
  width: 80vw;
  height: 45vw;
  max-width: 800px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;

  /* overflow: hidden; */
}
